.parallax-component {
    height: 1500vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}
.first-banner, .second-banner, .third-banner{
    height: 90vh;
    border-radius: 15px;
}
.layer {
    display: flex;
    justify-content: center;
}
.banner-img {
    height: 100%;
    opacity: .8;
}

